@model IntentMyDataKart.Models.UserRegistrationModel
@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="mb-3">
                <h5 class="card-title">User Registration</h5>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
                <div>
                    <a href="#"  class="btn btn-primary"><i class="bx bx-plus me-1"></i> Back</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label" for="AddNew-Username">Name</label>
                @Html.TextBoxFor(M => M.Name, new { @class = "form-control", @placeholder = "Enter Username" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label">Email</label>
                @Html.TextBoxFor(M => M.Email, new { @class = "form-control", @placeholder = "Enter Email" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label" for="AddNew-Email">Email</label>
                @Html.DropDownListFor(M => M.CompanyRegistrationId, Model.CompanyList, "Select Company", new { @class = "form-select" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label" for="AddNew-Phone">Role</label>
                @Html.DropDownListFor(M => M.RoleId, Model.RoleList, "Select Role", new { @class = "form-select" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label" for="AddNew-Organization">Country</label>
                @Html.TextBoxFor(M => M.Country, new { @class = "form-control", @placeholder = "Enter Country" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label" for="AddNew-Organization">State</label>
                @Html.TextBoxFor(M => M.State, new { @class = "form-control", @placeholder = "Enter State" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label" for="AddNew-Location">City</label>
                @Html.TextBoxFor(M => M.City, new { @class = "form-control", @placeholder = "Enter City" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label" for="AddNew-Location">Pincode</label>
                @Html.TextBoxFor(M => M.Pincode, new { @class = "form-control", @placeholder = "Enter Pincode" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label" for="AddNew-Location">Address</label>
                @Html.TextBoxFor(M => M.Address, new { @class = "form-control", @placeholder = "Enter Address" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label" for="AddNew-Location">Password</label>
                @Html.TextBoxFor(M => M.Password, new { @class = "form-control", @placeholder = "Enter Password" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label" for="AddNew-Location">Confirm Password</label>
                @Html.TextBoxFor(M => M.ConfirmPassword, new { @class = "form-control", @placeholder = "Enter Confirm Password" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label" for="AddNew-Location">Is Active</label>
                @Html.CheckBoxFor(M => M.IsActive)
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 text-end">
            <button type="button" class="btn btn-danger me-1" data-bs-dismiss="modal"><i class="bx bx-x me-1 align-middle"></i> Cancel</button>
            <button type="submit" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#success-btn" id="btn-save-event"><i class="bx bx-check me-1 align-middle"></i> Confirm</button>
        </div>
    </div>


</div>








<div class="modal fade add-new" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myExtraLargeModalLabel">Add New</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label" for="AddNew-Username">Username</label>
                            <input type="text" class="form-control" placeholder="Enter Username" id="AddNew-Username">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">Position</label>
                            <select class="form-select">
                                <option selected>Select Position</option>
                                <option>Full Stack Developer</option>
                                <option>Frontend Developer</option>
                                <option>UI/UX Designer</option>
                                <option>Backend Developer</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label" for="AddNew-Email">Email</label>
                            <input type="text" class="form-control" placeholder="Enter Email" id="AddNew-Email">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label" for="AddNew-Phone">Phone</label>
                            <input type="text" class="form-control" placeholder="Enter Phone" id="AddNew-Phone">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label" for="AddNew-Organization">Organization</label>
                            <input type="text" class="form-control" placeholder="Enter Organization" id="AddNew-Organization">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label" for="AddNew-Location">Location</label>
                            <input type="text" class="form-control" placeholder="Enter Location" id="AddNew-Location">
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12 text-end">
                        <button type="button" class="btn btn-danger me-1" data-bs-dismiss="modal"><i class="bx bx-x me-1 align-middle"></i> Cancel</button>
                        <button type="submit" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#success-btn" id="btn-save-event"><i class="bx bx-check me-1 align-middle"></i> Confirm</button>
                    </div>
                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

